<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADAttributedLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16B4E50B1E24B2BF00E2528F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16B4E5241E24B2BF00E2528F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16B4E52F1E24B2C000E2528F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
